@model Product
@{
    ViewData["Title"] = "Add Product";
    SelectList CategoryOptions = new SelectList(ViewBag.Category, "Id", "Name");

}


<form method="post" asp-action="@ViewBag.Link" asp-controller="Product" enctype="multipart/form-data">
    @if (ViewBag.Link == "EditProduct")
    {
        <input type="hidden" asp-for="Id" />
    }

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId"></label>
        <select asp-for="CategoryId" asp-items="CategoryOptions"></select>
    </div>

    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control">
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Quantity"></label>
        <input asp-for="Quantity" class="form-control">
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label name="ImageFile" class="form-label">Image</label>
        <input type="file" name="imageFile" accept="image/*" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>